body{
    background-color: rgb(240, 240, 240);
    height: 100%;
    height: 150vh;
    width: 100%;
    overflow : hidden;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.container_authentification{
    background-color: #ffffff;
    border-radius: 10px;
    height: 100%;
    width: 300px;
    margin: auto;
    margin-top: 15%;
    padding: 25px;
    text-align: center;
}

.header{
    background-color: #624599;
    font: #fff;
    font-size: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    height: 100%;
    height: 6vh;
    padding: 3vh;
}

#item1{
    margin: auto;
    width: 20vh;
}
#item2{
    margin: auto;
    width: 20vh;
}

.nom{
    color: #fff;
    margin-top: -1px;
    font-size: 3vh;
    background-color: #624599;
    border-color: #624599;
}

#sous-titre1{
    margin: auto;
    margin-bottom: 1px;
    margin-left: -130px;
    padding-top: 30px;
}

#sous-titre2{
    margin: auto;
    margin-bottom: 1px;
    margin-left: -85px;
    padding-top: 30px;
}

.button_auth{
    margin: auto;
    color: #fff;
    background-color: #624599;
    border-radius: 5px;
}

@media all and (max-width: 1024px) {
    
    item1{
        margin-left: auto;
        width: auto;
    }

    item2{
        margin-left: auto;
        width: auto;
    }
    
    container_authentification {
        background-color: #fff;
        border-radius: 10px;
        height: auto;
        margin: auto;
    }
}