body{
    background-color: rgb(240, 240, 240);
    height: 100%;
    height: 150vh;
    width: 100%;
    overflow : hidden;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #624599;
    font: #fff;
    font-size: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    height: 100%;
    height: 6vh;
    padding: 3vh;
}

.nom{
    color: #fff;
    margin-top: -1px;
    font-size: 3vh;
    background-color: #624599;
    border-color: #624599;
}