body{
    background-color: rgb(240, 240, 240);
    height: 100%;
    height: 150vh;
    width: 100%;
    overflow : hidden;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.creer{
    height: 300px;
    width: 300px;
    color: #fff;
    background-color: #624599b2;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 175px;
    margin-left: 85vh; margin-right: 85vh; 
}

.nom{
    color: #fff;
    margin-top: -1px;
    font-size: 3vh;
    background-color: #624599;
    border-color: #624599;
}

.header{
    background-color: #624599;
    font: #fff;
    font-size: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    height: 100%;
    height: 6vh;
    padding: 3vh;
}

.deconnexion{
    color: #fff;
    margin-top: -1px;
    margin-left: 1490px;
    font-size: 3vh;
    background-color: #624599;
    border-color: #624599;
}