body{
    background-color: rgb(240, 240, 240);
    height: 100%;
    height: 150vh;
    width: 100%;
    overflow : hidden;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.container_authentification{
    margin-left: 85vh; margin-right: 85vh; 
    background-color: #fff;
    border-radius: 10px;
    height: 30vh;
    margin-top: 150px;
}

.header{
    background-color: #624599;
    font: #fff;
    font-size: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    height: 100%;
    height: 6vh;
    padding: 3vh;
}

#item1{
    margin-left: 80px;
    width: 20vh;
}
#item2{
    margin-left: 80px;
    width: 20vh;
}

.nom{
    color: #fff;
    margin-top: -1px;
    font-size: 3vh;
    background-color: #624599;
    border-color: #624599;
}

#sous-titre{
    margin-left: 80px;
    margin-bottom: 1px;
    padding-top: 30px;
}

.button_auth{
    margin-left: 125px;
    color: #fff;
    background-color: #624599;
    border-radius: 5px;
}

@media screen and (min-width: 1024px) {
    
    item1{
        margin-left: 80px;
        width: 20vh;
    }

    item2{
        margin-left: 80px;
        width: 20vh;
    }
    
    container_authentification {
        margin-left: 85vh; margin-right: 85vh; 
        background-color: #fff;
        border-radius: 10px;
        height: 30vh;
        margin-top: 150px;
    }
}